<%- include('header'); %>
<style>
  * {
    margin: 0;
  }
  body {
    background: #3399ff;
  }
  input, select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

  a {
    text-decoration: none;
  }

  a h2 {
    background-color: crimson;
    margin: 0;
    color: white;
    padding: 20px;
  }
  a h2:hover {
    color: black;
  }

textarea{
    height: 150px;
}

button{
    margin-top: 20px;
    width: 100%;
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


button:hover{
    background-color: #45a049;
}
  
  span {
    color: darkslategrey;
  }
</style>

<a href="/"><h2>Back</h2></a>

<div>
    <form action="/create_project" method="post">
        <label for="name">Name</label>
        <input name="name" type="text">

        <label for="description">Description</label> 
        <textarea name="description" type="text"></textarea>
        
        <label for="link">Link of Company</label>
        <input name="link" type="url">

        <label for="code">Link of code</label>
        <input name="code" type="url">
    
        <select id="work_slug" name="work_slug">
            <% for(let i = 0; i< works.length; i++) {%>
                <option value="<%= works[0].slug %>"><%= works[i].slug %></option>
                
            <% } %>
        </select>

        <select id="type_slug" name="type_slug">
            <% for(let i = 0; i< types.length; i++) {%>
                <option value="<%= types[i].slug %>"><%= types[i].slug %></option>
                
            <% } %>
        </select>


        <% for(let i = 1; i< 6; i++) {%>
          <label for="image<%= i %>"></label>
          <input type="file" name="image<%= i %>">
          
      <% } %>

        <button type="submit">create</button>
    </form>
</div>
