
    <%- include('header'); %>
    <!-- home section start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, my name is</div>
                <div class="text-2">Marwan Ahmed</div>
                <div class="text-3">And I'm a <span class="typing"></span></div>
                <a href="#contact">Hire me</a>

            </div>
            <i class="fa-solid fa-github"></i>

        </div>
    </section>

    <!-- about section start -->
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About me</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="images/profile-0.jpg" alt="">
                </div>
                <div class="column right">
                    <div class="text">I'm Marwan and I'm a <span class="typing-2"></span></div>
                    <p>I'm a Back-end Software Engineer who loves building web applications, I recently developed web applications using NodeJs. I'm excited to develop my skills and combine my passion for learning and building Web applications. I worked on many projects during my training in Udacity, in the Nano-degree scholarship, and four years in the Faculty of Computers and Information, Department of Computer Science and Software Development.</p>
                    <a href="./cv/CV.pdf" download>Download CV</a>               
                </div>
            </div>
        </div>
    </section>

    <!-- services section start -->
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">My experiences</h2>
            <div class="serv-content" >

                <% for(let i = 0; i< works.length; i++) {%>
                        <div class="card" style="margin-top: 10px; padding-top: 5px;">
                            <a href="works/<%= works[i].slug %>" >
                            <div class="box" >
                                <i class="fa-solid fa-laptop-code" style="color: brown;font-size: 25px;"><%= works[i].company %></i>
                                <div class="text" style="font-size: 20px;"><%= works[i].title %></div>
                                <p style="font-size: 18px;"><%= works[i].description.slice(0,200) %>...</p>
                            </div>
                        </a>
                        </div> 
                    


                    <% } %>
            </div>
        </div>
        <!-- <a href="/works" class="more"><button>More</button></a> --> 
    </section>

    <!-- skills section start -->
    <section class="skills" id="skills">
        <div class="max-width">
            <h2 class="title">My skills</h2>
            <div class="skills-content">
                <div class="column left">
                    <div class="text">My creative skills & experiences.</div>
                    <p>I'm doing many projects using all of my skills. My learning is project-based. I'm using all of my skills in building or designing projects and pages.</p>
                    <a href="/projects">Read more</a>
                </div>
                <div class="column right">

                    <% for(let i = 0; i< skills.length; i++) {%>
                        
                    <div class="bars">
                        <div class="info">
                            <span><a href="skills/<%= skills[i].slug %>"><%= skills[i].name %></a></span>
                            <span><%= skills[i].persantge %> %</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <% } %>

                </div>
            </div>
        </div>
    </section>

    <!-- teams section start -->
    <section class="teams" id="teams">
        <div class="max-width">
            <h2 class="title">My Projects</h2>
            <div class="carousel owl-carousel">
                
                <% for(let i = 0; i< projects.length; i++) {%>
                    <a href="projects/<%= projects[i].slug %>" style="margin-top: 10px;">
                        <div class="card" style="color: white;">
                            <div class="box">
                                <img src="<%= projects[i].images[0] %>" alt="">
                                <div class="text"><%= projects[i].name %></div>
                                <p><%= projects[i].description.slice(0,200) %>...</p>
                            </div>
                        </div>
                    </a>
                <% } %>

            </div>
        </div>
        <!-- <a href="/projects" class="more">More</a>  -->

    </section>

    <%- include('contact'); %>
