<%- include('header'); %>
<style>
  * {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
  body {
    background: #3399ff;
  }
  a h2 {
    background-color: crimson;
    margin: 0;
    color: white;
    padding: 20px;
  }
  a h2:hover {
    color: black;
  }

  ul {
    background: #3399ff;
    padding: 20px;
    margin: 0;
    font-size: 30px;
  }

  ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
    padding: 20px;
    text-decoration: none;
    list-style-type: none;
  }

  span {
    color: darkslategrey;
  }
</style>

<a href="/#works"><h2>Back</h2></a>

<ul>
  <% if(work.title) {%>
    <li><span>Title</span>: <%= work.title %></li>
    <% } %>
  

  <% if(work.company) {%>
      <li><span>Company</span>: <a href="<%= work.link %>"><%= work.company %></a></li>
    <% } %>
  

  <% if(work.start) {%>
      <li><span>Begin date</span>: <%= ("0" + (work.start.getDate())).slice(-2) %> - <%= ("0" + (work.start.getMonth() + 1)).slice(-2) %> - <%= work.start.getFullYear() %></li>
    <% } %>
  

  <% if(work.finish) {%>
    <li><span>End date</span>: <%= ("0" + (work.finish.getDate())).slice(-2) %> - <%= ("0" + (work.finish.getMonth() + 1)).slice(-2) %> - <%= work.finish.getFullYear() %></li>
    <% } %>
  

  <% if(work.description) {%>
     <li><span>Description</span>:<%= work.description %></li>
    <% } %>
  
</ul>
